.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  justify-content: space-evenly;
  grid-gap: 1.5rem;
  padding-top: 1rem;
}
.card{
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: min-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main_img {
  width: 100%;
  border-radius: 10px;
}